cupshelpers==1.0; sys_platform != "win32"
lgpio==0.2.2.0; sys_platform != "win32"
pgzero==1.2; sys_platform != "win32"
picamera2==0.3.24; sys_platform != "win32"
pidng==4.0.9; sys_platform != "win32"
pycairo==1.20.1; sys_platform != "win32"
pycups==2.0.1; sys_platform != "win32"
pygame==2.1.3; sys_platform == "win32"
PyGObject==3.42.2; sys_platform != "win32"
pyinotify==0.9.6; sys_platform != "win32"
python-apt==2.6.0; sys_platform != "win32"
python-prctl==1.8.1; sys_platform != "win32"
pyudev==0.24.0; sys_platform != "win32"