* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(39,46,51,1) 0%, rgba(13,21,51,1) 48%, rgba(12,12,13,1) 100%);
    color: lightgray;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    flex: 0 0 5%; 
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.grid-container {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    gap: 0;
    padding: 10px;
    box-sizing: border-box;
    place-items: center;
    overflow: hidden;
}

.run-btn-style{
    margin: 0 auto 10%; 
    width: 100%; height: auto;  min-height: 3%;
    font-size: 12;
}

.mot-control-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr 1fr;
}

.mot-control-button{
    height: 80%;
    width: 80%;
}

.mot-control-button-container{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.servo-control-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr; 
    gap: 1rem;
}

.two-img-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.center-page{
    grid-row: 2 / 7; 
    grid-column: 2 / 6;
}

.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.tab-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: rgb(79, 79, 79) 2px solid;
}

.tab-buttons button{
    padding: 5px;
    cursor: pointer;
    color: white;
    border: none;
    background: none;
    border-radius: 20%;
    height: 60%;
}

.tab-buttons button.active{
    background-color: rgb(17, 17, 114);
    color: white;
}

.bottom-center{
    grid-row: 7; 
    grid-column: 3 / 5;
}

.bottom-right{
    grid-row: 7; 
    grid-column: 5 / 7;
}

.bottom-left{
    grid-row: 7; 
    grid-column: 1 / 3;
}

.bottom-style{
    width: 100%;
    height: 100%;
    background-color: #57575f3c;
    border: 10px solid #5050633c;
    border-radius: 7%;
}

.right-strip{
    grid-row: 2 / 5; grid-column: 6;
    width: 100%; height: 100%; 
    display: flex; flex-direction: column; 
    align-items: center;
}

.left-strip{
    grid-row: 2; grid-column: 1; 
}

.top-strip{
    grid-row: 1; grid-column: 2 / 6;
    height: 100%; width: 100%; 
    display: flex; flex-direction: row;
}

img{
    display: block; 
    margin: 0 auto; 
    max-height: 90%; max-width: 90%;
}

button{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5%;
}

button:active{
    opacity: 0.75;
}

.on-btn{
    background-color: lightgray;
}

.off-btn{
    background-color: gray;
}

#detect_img{
    z-index: 10;
    max-height: 100%; max-width: 100%;
    grid-row: 2; grid-column: 2;
    cursor: pointer;
}
