* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(0deg, rgba(39,46,51,1) 0%, rgba(13,21,51,1) 48%, rgba(12,12,13,1) 100%);
    color: lightgray;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

h1 {
    flex: 0 0 5%; 
    margin: 0;
    padding: 0 10px;
    display: flex;
    align-items: center;
}

/*Main grid layout*/
.grid-container {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
    grid-template-rows: 0.2fr minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) 0.5fr;
    gap: 0;
    padding: 10px;
    box-sizing: border-box;
    align-items: stretch;
    justify-items: stretch;
    overflow: hidden;
}

.center-page{
    grid-row: 2 / 7; 
    grid-column: 2 / 6;
    min-height: 0;
    overflow: hidden;
    place-content: center;
    justify-items: center;
}

.bottom-center{
    grid-row: 7; 
    grid-column: 3 / 5;
}

.bottom-right{
    grid-row: 7; 
    grid-column: 5 / 7;
}

.bottom-left{
    grid-row: 7; 
    grid-column: 1 / 3;
}

.bottom-style{
    width: 100%;
    height: 100%;
    background-color: #57575f3c;
    border: 10px solid #5050633c;
    border-radius: 7%;
}

.right-strip{
    grid-row: 2 / 5; grid-column: 6;
    width: 100%; height: 100%; 
    display: flex; flex-direction: column; 
    align-items: center;
}

.left-strip{
    grid-row: 2; grid-column: 1; 
}

.top-strip{
    grid-row: 1; grid-column: 2 / 6;
    height: 100%; width: 100%; 
    display: flex; flex-direction: row;
}

.run-btn-style{
    margin: 0 auto 10%; 
    width: 100%; height: auto;  min-height: 3%;
    font-size: 12;
}

/*Motor control layout*/
.mot-control-grid{
    display: grid;
    grid-template-areas:
        "title title title"
        "cur-pos up more-btn"
        "left center right"
        "enable-checkboxes down ."
        "extra extra extra";
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 1fr 1fr 1fr auto;
}

.mot-ctrl-item[data-item="title"] { grid-area: title; }
.mot-ctrl-item[data-item="up"] { grid-area: up; }
.mot-ctrl-item[data-item="down"] { grid-area: down; }
.mot-ctrl-item[data-item="left"] { grid-area: left; }
.mot-ctrl-item[data-item="right"] { grid-area: right; }
.mot-ctrl-item[data-item="center"] { grid-area: center; }
.mot-ctrl-item[data-item="enable-checkboxes"] { grid-area: enable-checkboxes; }
.mot-ctrl-item[data-item="cur-pos"] { grid-area: cur-pos; }
.mot-ctrl-item[data-item="extra"] { grid-area: extra; display: none;
     flex-direction: row; padding: 1rem; 
     border-top: 1px dashed gray; align-items: center; justify-content: space-evenly;}

.mot-control-button{
    height: 80%;
    width: 80%;
}

.mot-control-button-container{
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100%;
}

.flex-row{
    display: flex; flex-direction: row; align-items: center; gap: 0.5rem; 
}

.flex-col{
    display: flex; flex-direction: column; align-items: center; gap: 0.2rem; 
}

.flex-col button {
    flex: 1;
    display: flex;
    padding: 0.2rem;
}

.flex-col.align-start{
    align-items: flex-start;
}

.no-wrap {
    white-space: nowrap;
}

.btn-disabled-wrapper{
    display: inline-block;
    position: relative;
}

.btn-disabled-wrapper::after{    
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(10%) translateY(1rem);
    content: attr(data-tooltip);
    color: black;
    background-color: white;
    opacity: 0;
    transition: opacity 0.5s;    
    pointer-events: none;
    display: flex;
}

.btn-disabled-wrapper:hover::after{
    opacity: 1;
}

.full-width-centered {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative; 
}

.full-width-centered button{
    display: flex;
    width: 65%; 
    justify-content: 
    center; 
    flex: 0 0 auto;
}

.servo-control-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr; 
    gap: 1rem;
}

/*Pages with side by side image setup*/
.two-img-grid{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.two-img-grid > * {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    min-width: 0;
}

.two-img-grid img {
    object-fit: contain;
    height: 100%;
}

/*Calibration page styles*/
.click-img-wrapper{
    display: inline-block;
    position: relative;
}

.save-clb-btn{
    padding: 0.5rem;
}

.clb-stream-img{
    grid-column: 1;
    cursor: crosshair;
}

.save-clb-stack{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}


/*Tab styles*/
.tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.tab-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: rgb(79, 79, 79) 2px solid;
}

.tab-buttons button{
    padding: 5px;
    cursor: pointer;
    color: white;
    border: none;
    background: none;
    border-radius: 20%;
    height: 60%;
}

.tab-buttons button.active{
    background-color: rgb(17, 17, 114);
    color: white;
}

/*Misc styles*/

img{
    display: block;
    margin: 0 auto; 
    max-height: 90%; max-width: 90%;
}

button{
    background-color: lightgray;
    border-radius: 5px;
    padding: 5%;
}

button:active{
    opacity: 0.75;
}

.on-btn{
    background-color: lightgray;
}

.off-btn{
    background-color: gray;
}

#detect_img{
    z-index: 10;
    max-height: 100%; max-width: 100%;
    grid-row: 2; grid-column: 2;
    cursor: pointer;
}