<html>
    <head>
        <title>Really Cool Thing E's</title>
        <style>
            .grid-container {
                display: grid;
                height: 90vh;
                grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%; /*repeat(3, 1fr);*/
                grid-template-rows: 10% 1fr 1fr 1fr 20%;
                grid-gap: 10px; 
                padding: 10px;
                border: 2px solid green;
                place-items: center;
            }
            .grid-item{
                margin: 0px;
            }
            .btn-style{
                margin: 0 auto 10%; width: 100%; height: 50%; font-size: 12;
            }
            .mot-control-grid{
                display: grid;
                height: 100%;
                width: 100%;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                border: 5px solid purple;
            }
            .mot-control-button{
                height: 100%;
                width: 100%;
            }
            .mot-control-button-container{
                display: flex; 
                justify-content: center; 
                align-items: center;
                border: 2px dashed orange;
            }
            .stream-and-base-img-grid{
                display: grid;
                height: 100%;
                width: 100%;
                grid-template-columns: 1fr 1fr;
                border: 5px solid green;
            }
        </style>
    </head>

    <body>
        <h1 style="justify-content: center; text-align: center;">Cool Shit</h1>
        <div class="grid-container">
            <div class="grid-item" style="grid-row: 2; grid-column: 1; border-style: dotted; border-color: green;">
                <button onclick="stopStream()" id="start_stop_stream" class="btn-style">
                    Stop Stream
                </button>
                <button onclick="stopImgMod()" id="start_stop_img_mod" class="btn-style">
                    Stop Image Modificaiton
                </button>
            </div>
            <div id="center-page" class="grid-item" style="grid-row: 2 / 5; grid-column: 2 / 6;  border: 5px dotted red; height: auto; width: 100%">
            </div>
            <div class="grid-item" style="grid-row: 1; grid-column: 3; border: 5px dashed blue; height: 100%; width: 100%;">
                <button onclick="toggleMotControl()" id="mot_ctrl_btn" class="btn-style" >
                Motor Control
                </button>
            </div>
            <div class="grid-item" style="grid-row: 1; grid-column: 2; border: 5px dashed cyan; height: 100%; width: 100%;">
                <button onclick="toggleMainPage()" id="main_page_btn" class="btn-style" >
                Main Page
                </button>
            </div>
            <div class="grid-item" style="grid-row: 1; grid-column: 4; border: 5px solid magenta; height: 100%; width: 100%;">
                <button onclick="toggleStreamAndBaseImg()" id="show_base_img_btn" class="btn-style" >
                    Show Base Image
                </button>
            </div>
            <div id="bottom-center-section" style="grid-row: 5; grid-column: 3 / 5; height: 100%; width: 100%"></div>
            <div id="imageParams" style="grid-row: 2 / 5; grid-column: 6; border: 5px solid pink; width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center;">
                <div style="border: 2px dashed black;">
                    <label for="objSizeInput">Required Object Size</label>
                    <input oninput="changeImgProcSetting('requiredObjectSize', this.value)" id="objSizeInput" type="number" value="2500" style="width: 50%;"/>
                    <label for="gainInput" style="display:block; margin-top: 10">Analogue Gain</label>
                    <input oninput="changeCamSetting('AnalogueGain', this.value)" id="gainInput" type="number" value="10.0" style="width: 50%;"/>
                </div>
            </div>
        </div>

        </div>
        
        <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script>
        //HTML dynamic components
            function createStreamImage(htmlElementToAppendTo){
                //create image element
                const img = document.createElement('img');
                img.src = '/stream';
                img.id = 'stream_img';
                img.style.display = 'block';
                img.style.margin = '0 auto';
                img.style.maxHeight = '100%'
                img.style.maxWidth = '100%'
                img.style.borderwidth = '2';
                img.style.borderColor = 'black';
                img.style.borderstyle = 'solid';

                //clear the specified element and append the image
                htmlElementToAppendTo.innerHTML = ""
                htmlElementToAppendTo.appendChild(img)
            }

            function createBaseImg(htmlElementToAppendTo){
                const img = document.createElement('img');
                img.src = '/base-img?cache_buster=' + new Date().getTime();
                img.id = 'base_img';
                img.style.display = 'block';
                img.style.margin = '0 auto';
                img.style.maxHeight = '100%'
                img.style.maxWidth = '100%'
                img.style.borderWidth = '2';
                img.style.borderColor = 'blue';
                img.style.borderstyle = 'solid';

                //clear the specified element and append the image
                htmlElementToAppendTo.innerHTML = "";
                htmlElementToAppendTo.appendChild(img);
            }

            function createStreamAndBaseImage(htmlElementToAppendTo){
                const container = document.createElement('div');
                container.className = 'stream-and-base-img-grid';

                //Create live stream image
                const streamContainer = document.createElement('div');
                streamContainer.className = 'mot-control-button-container'
                streamContainer.style.gridColumn = '1';
                streamContainer.style.width = '100%';
                createStreamImage(streamContainer)

                container.appendChild(streamContainer);

                //Create static base image
                const baseImgContainer = document.createElement('div');
                baseImgContainer.className = 'mot-control-button-container'
                baseImgContainer.style.gridColumn = '2';
                baseImgContainer.style.height = '100%';
                createBaseImg(baseImgContainer)

                container.appendChild(baseImgContainer);

                htmlElementToAppendTo.innerHTML = "";
                htmlElementToAppendTo.appendChild(container);
            }

            function createMotControlGrid(htmlElementToAppendTo){
                //grid container for all buttons
                const container = document.createElement('div')
                container.className = 'mot-control-grid'

                //up button
                const upcontainer = document.createElement('div');
                upcontainer.className = 'mot-control-button-container';
                upcontainer.style.gridRow = '1';
                upcontainer.style.gridColumn = '2';
                
                const upButton = document.createElement('button');
                upButton.className = 'mot-control-button';
                upButton.onmousedown = () => startJog('up');
                upButton.onmouseup = stopMotors;
                upButton.textContent = 'up button';
                
                upcontainer.appendChild(upButton);

                //down button
                const downContainer = document.createElement('div');
                downContainer.className = 'mot-control-button-container';
                downContainer.style.gridRow = '3';
                downContainer.style.gridColumn = '2';
                
                const downButton = document.createElement('button');
                downButton.className = 'mot-control-button';
                downButton.onmousedown = () => startJog('down');
                downButton.onmouseup = stopMotors;
                downButton.textContent = 'down button';
                
                downContainer.appendChild(downButton);

                //left button
                const leftContainer = document.createElement('div');
                leftContainer.className = 'mot-control-button-container';
                leftContainer.style.gridRow = '2';
                leftContainer.style.gridColumn = '1';
                
                const leftButton = document.createElement('button');
                leftButton.className = 'mot-control-button';
                leftButton.onmousedown = () => startJog('left');
                leftButton.onmouseup = stopMotors;
                leftButton.textContent = 'left button';
                
                leftContainer.appendChild(leftButton);

                //right button
                const rightContainer = document.createElement('div');
                rightContainer.className = 'mot-control-button-container';
                rightContainer.style.gridRow = '2';
                rightContainer.style.gridColumn = '3';
                
                const rightButton = document.createElement('button');
                rightButton.className = 'mot-control-button';
                rightButton.onmousedown = () => startJog('right');
                rightButton.onmouseup = stopMotors;
                rightButton.textContent = 'right button';
                
                rightContainer.appendChild(rightButton);

                //speed setting box
                const speedContainer = document.createElement('div');
                speedContainer.style.gridRow = '2';
                speedContainer.style.gridColumn = '2';
                speedContainer.style.display = 'flex';
                speedContainer.style.justifyContent = 'center';
                speedContainer.style.alignItems = 'center';
                
                const label = document.createElement('label');
                label.setAttribute('for', 'speedInput');
                label.style.marginRight = '10px';
                label.textContent = 'Jog Speed';
                
                const input = document.createElement('input');
                input.type = 'text';
                input.id = 'speedInput';
                input.style.width = '50%';
                
                speedContainer.appendChild(label);
                speedContainer.appendChild(input);

                //combine everything
                container.appendChild(upcontainer)
                container.appendChild(downContainer)
                container.appendChild(leftContainer)
                container.appendChild(rightContainer)
                container.appendChild(speedContainer)

                //clear the specified element
                htmlElementToAppendTo.innerHTML = ""

                //append to specified element
                htmlElementToAppendTo.appendChild(container)
            }

        </script>
        <script>
            //Button functions
            function stopStream(){
                const btn = document.getElementById("start_stop_stream")
                fetch('/stopStream', {
                    method: 'GET'
                    })
                    .then(response => {
                        if (response.status === 200){
                            console.log("Stream stopped. Server response = " + response.body);
                        }
                        else{
                            console.log("Failure to stop stream. Server response: " + response.status);
                        }
                    })
                    .then(data => {
                        btn.innerHTML = "Start Stream"
                        btn.onclick = startStream
                    })
                    .catch(error => {
                        console.error(error)
                    })
                }

            function startStream(){
                const btn = document.getElementById("start_stop_stream")
                const stream = document.getElementById("stream_img")
                fetch('/stream',{
                    method: 'GET'
                })
                .then(response => {
                    if (response.status === 200){
                        console.log("Stream started. Server response = " + response.body);
                        
                    }
                    else{
                        console.log("Server failed to start stream. Server response: " + server.response)
                    }
                })
                .then(data => {
                    stream.src = "/stream"
                    btn.innerHTML = "Stop Stream"
                    btn.onclick = stopStream
                })
                .catch(error => {
                    console.error(error)
                })
            }

            function stopImgMod(){
                const btn = document.getElementById("start_stop_img_mod")
                fetch('/stopImgMod', {
                    method: 'GET'
                    })
                    .then(response => {
                        if (response.status === 200){
                            console.log("Image mod stopped. Server response = " + response.body);
                        }
                        else{
                            console.log("Failure to stop image mod. Server response: " + response.status);
                        }
                    })
                    .then(data => {
                        btn.innerHTML = "Start Image Mod"
                        btn.onclick = startImgMod
                    })
                    .catch(error => {
                        console.error(error)
                    })
                }

            function startImgMod(){
                const btn = document.getElementById("start_stop_img_mod")
                fetch('/startImgMod', {
                    method: 'GET'
                    })
                    .then(response => {
                        if (response.status === 200){
                            console.log("Image mod started. Server response = " + response.body);
                        }
                        else{
                            console.log("Failure to start image mod. Server response: " + response.status);
                        }
                    })
                    .then(data => {
                        btn.innerHTML = "Stop Image Mod"
                        btn.onclick = stopImgMod
                    })
                    .catch(error => {
                        console.error(error)
                    })
                }
            
            function toggleMotControl(){
                const bottomCenterPage = document.getElementById("bottom-center-section");
                createMotControlGrid(bottomCenterPage)
            }

            function toggleMainPage(){
                const centerPage = document.getElementById("center-page");
                createStreamImage(centerPage)
                const bottomCenterPage = document.getElementById("bottom-center-section")
                bottomCenterPage.innerHTML = ""
            }

            function toggleStreamAndBaseImg(){
                const centerPage = document.getElementById("center-page");
                createStreamAndBaseImage(centerPage);
            }

            function startJog(direction){
                console.log("Starting jog")
                const speed = document.getElementById("speedInput").value;
                fetch(`/motorControl/${direction}/${speed}`, {
                    method: 'GET'
                })
                .then(response => {
                    if (response.status == 200){
                        console.log("Server moving motor. Response: " + response.body);
                    }
                    else{
                        console.log("Error while requesting motor move. Response: " + response.status);
                    }
                })
                .catch(error => {
                    console.error(error)
                })
            }

            function stopMotors(){
                console.log("Stopping motors")
                fetch("/stopMotors",{
                    method: 'GET'
                })
                .then(response => {
                    if (response.status == 200){
                        console.log("Server stopping motor. Response: " + response.body);
                    }
                    else{
                        console.log("Error while requesting motor stop. Response: " + response.status);
                    }
                })
                .catch(error => {
                    console.error(error)
                })
            }
            
            function changeImgProcSetting(settingName, settingValue){
                fetch(`/modImgProcSetting/${settingName}/${settingValue}`, {
                    method: 'GET'
                })
                .then(response => {
                    if (response.status == 200){
                        console.log("Server is modifying setting. Response: " + response.text());
                    }
                    else{
                        console.log("Error while requesting setting modification. Response: " + response.status);
                    }
                })
                .catch(error => {
                    console.error(error)
                })
            }

            function changeCamSetting(settingName, settingValue){
                fetch(`/modCamSetting/${settingName}/${settingValue}`, {
                    method: 'GET'
                })
                .then(response => {
                    if (response.status == 200){
                        console.log("Server is modifying setting. Response: " + response.text());
                    }
                    else{
                        console.log("Error while requesting setting modification. Response: " + response.status);
                    }
                })
                .catch(error => {
                    console.error(error)
                })
            }
        </script>
        <script>
            //Server Sent Events
            const eventSource = new EventSource('/dataEventSoruce');
            eventSource.onmessage = function(event) {
                console.log("time:" + JSON.parse(event.data).time);
            };
            eventSource.onerror = function() {
                console.error("EventSource failed.");
            };

            //Embedded functions
            window.onload = function() {
                toggleMainPage();
        }
        </script>
    </body>
</html>