<html>
    <head>
        <title>picamera2 MJPEG streaming demo</title>
        <link rel="stylesheet" href="Style.css">
    </head>
    <body>
        <h1 style="justify-content: center; text-align: center;">Cool Shit</h1>
        <img src="/stream" />
        <button id="start_stop_stream" onclick="stopStream()" style="padding: 1%">
            Stop Stream
        </button>
    <!--
        <script>
            function stopStream(){
                window.location.href='/stopStream'
                console.log("set href")
            }
        </script>
    -->
    </body>
</html>



<!--
    <body>
        <div class="mainGrid">
            <div class="titleBox">
                <div class="title">
                    Cool-Ass Stuff
                </div>
                <div class="subTitle">
                    By Cool-Ass Dude
                </div>
            </div>
            <div class="streamContainer">
                <img src="/stream" class="streamImage"/>
            </div>
            <div class="footer">
                <button style="height: 100px; width: 10vh; height: 50%; ">Start</button>
            </div>
        </div>
    -->